-- ============================================
-- WinGuard Test Users SQL
-- Run this in Neon SQL Editor
-- ============================================

node : (node:24272) [DEP0169] DeprecationWarning: 
`url.parse()` behavior is not standardized and prone to 
errors that have security implications. Use the WHATWG 
URL API instead. CVEs are not issued for `url.parse()` 
vulnerabilities.
At line:1 char:1
+ node generate-user-sql.js > user-insert.sql 2>&1
+ ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    + CategoryInfo          : NotSpecified: ((node:24272) 
    [D...ulnerabilities.:String) [], RemoteException
    + FullyQualifiedErrorId : NativeCommandError
 
(Use `node --trace-deprecation ...` to show where the 
warning was created)
-- CITIZEN: citizen@winguard.com
-- Password: citizen123
INSERT INTO users (email, password_hash, full_name, role)
VALUES (
    'citizen@winguard.com',
    '$2b$10$JzOfcOajsiU.WNMqmBQUIeM2.cErRJwVtQIHAkmOwcO166djdZ6Pu',
    'Test Citizen',
    'citizen'
)
ON CONFLICT (email) DO UPDATE
SET password_hash = '$2b$10$JzOfcOajsiU.WNMqmBQUIeM2.cErRJwVtQIHAkmOwcO166djdZ6Pu',
    full_name = 'Test Citizen',
    role = 'citizen';

-- OFFICIAL: official@bengaluru.gov.in
-- Password: official123
INSERT INTO users (email, password_hash, full_name, role)
VALUES (
    'official@bengaluru.gov.in',
    '$2b$10$u3BwsjKRSh3D/fStLa2qNu/RYvYllfMzo/jbR6CQLQe9E1Npx2dqK',
    'Safety Official',
    'official'
)
ON CONFLICT (email) DO UPDATE
SET password_hash = '$2b$10$u3BwsjKRSh3D/fStLa2qNu/RYvYllfMzo/jbR6CQLQe9E1Npx2dqK',
    full_name = 'Safety Official',
    role = 'official';

-- Verify users
SELECT user_id, email, full_name, role, created_at
FROM users
WHERE email IN ('citizen@winguard.com', 'official@bengaluru.gov.in');

-- ============================================
-- LOGIN CREDENTIALS
-- ============================================
-- CITIZEN APP:
--   Email: citizen@winguard.com
--   Password: citizen123
--
-- OFFICIAL DASHBOARD:
--   Email: official@bengaluru.gov.in
--   Password: official123
-- ============================================
